<!DOCTYPE html>
<html lang="en" dir="ltr" mode="pve">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Rock Paper Scissors</title>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <link rel="icon" type="image/png" href="images/favicon.png" />
    <link rel="stylesheet" href="styles\chat.css" />

    <link rel="stylesheet" href="styles\RPS\styles.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Press+Start+2P"
      rel="stylesheet"
    />
  </head>

  <body>
    <%- include("../../Overlay/back"); -%> <%- include("../../Overlay/chat");
    -%>
    <div class="mainContainer">
      <div class="header">
        <h3 class="player_info" id="player1_info">YOU: picking</h3>
        <div>
          <h1 class="GameName">Rock Paper Scissors</h1>
          <h2 class="Title">Select one</h2>
        </div>
        <h3 class="player_info" id="player2_info">Player2: picking</h3>
      </div>
      <div class="main">
        <div class="rock" id="player1"></div>
        <div id="vs"></div>
        <div class="cissor" id="player2"></div>
      </div>
      <div class="fotter">
        <div class="hand" id="rock"></div>
        <div class="hand" id="paper"></div>
        <div class="hand" id="cissor"></div>
      </div>
    </div>
    <div class="Game_ID">
      Game ID: <span id="ID"><button>Create Game</button></span>
      <button onclick="join()">Join game</button>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="scripts\RPS\game.js"></script>
  </body>
</html>
