<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MiniGamesGub</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <link rel="stylesheet" href="styles\index.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Press+Start+2P"
      rel="stylesheet"
    />
  </head>

  <body>
    <h1 id="level-title">MiniGamesHub</h1>
    <h2>HubCode: <%= hubCode %></h2>
    <h3 id="level-title" style="font-size: 20px; margin: 2px auto">
      Next Game
    </h3>
    <div id="room">Players left: <span id="left"></span></div>
    <div id="login">Players not Ready: <span id="ready"></span></div>
    <div class="container">
      <div id="<%= next %>" class="btn"></div>
    </div>
    <script src="scripts\rooms\room.js"></script>
  </body>
</html>
