<html>
  <head>
    <title>T-Rex Game</title>
    <meta name="description" content="Ripped By Ryan" />

    <link rel="stylesheet" href="styles\Dino\styles.css" />
  </head>

  <body>
    <div class="game">
      <div id="dino"></div>
      <div id="cactus"></div>
    </div>
    <script src="scripts\Dino\game.js"></script>
  </body>
</html>
