
<!-- ***** Preloader Start ***** -->
<div id="js-preloader" class="js-preloader">
  <div class="preloader-inner">
    <span class="dot"></span>
    <div class="dots">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>
<!-- ***** Preloader End ***** -->

<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a href="/" class="logo">
            <img src="assets/images/logo.png" alt="" />
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li><a href="/" class="active">Home</a></li>
            <li><a href="/leaderboard">LeaderBoard</a></li>
            <% if ( locals.auth ) { %>
              <li><a href="/logout">logout</a></li>
              <li>
                <a href="/hubs"
                  >Hubs <img src="assets/images/profile-header.jpg" alt=""
                /></a>
              </li>
            <% } else { %>
              <li>
                <a href="/login"
                  >Login <img src="assets/images/profile-header.jpg" alt=""
                /></a>
              </li>
            <% } %>

          </ul>
          <a class="menu-trigger">
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->