<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MiniGamesGub</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="styles\index.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Press+Start+2P"
      rel="stylesheet"
    />
  </head>

  <body>
    <h1 id="level-title">MiniGamesHub</h1>
    <% if (locals.auth) { %>
    <a id="login" href="/logout"
      >LogOut <img src="/images/Login-Icon.png" width="50px"
    /></a>
    <a id="room" href="/rooms"
      ><img src="/images/room.png" width="50px" />Rooms
    </a>

    <% } else {%>
    <a id="login" href="/login"
      >Login <img src="/images/Login-Icon.png" width="50px"
    /></a>
    <% }%>

    <a href="/chat"><div id="chat"></div></a>
    <div class="container">
      <a href="/SimonGame"><div id="SimonGame" class="btn"></div></a>

      <a href="/Wordle"><div id="Wordle" class="btn"></div></a>

      <a href="/Trivia"><div id="Trivia" class="btn"></div></a>

      <a href="/FlappyBird"><div id="FlappyBird" class="btn"></div></a>

      <a href="/RPS"><div id="RPS" class="btn"></div></a>

      <a href="/TTT"><div id="TTT" class="btn"></div></a>
    </div>
  </body>
</html>
