<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.2/owl.carousel.min.js"></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.2/assets/owl.carousel.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles\home.css" />
    <script src="scripts\home.js"></script>

    <title>Document</title>
  </head>
  <body>
    <section class="game-section">
      <h2 class="line-title">trending games</h2>
      <div class="owl-carousel custom-carousel owl-theme">
        <div class="item active" id="SimonGame">
          <div class="item-desc">
            <h3><a href="/SimonGame">SimonGame</a></h3>
            <p>
              Simon game is a memory game where there are 4 buttons the buttons
              light up randomly and with each correct selection a new button is
              added then the pattern needs to be entered from the start.
            </p>
          </div>
        </div>
        <div class="item" id="Wordle">
          <div class="item-desc">
            <h3><a href="/Wordle">Wordle</a></h3>
            <p>
              Wordle is guessing game where you have a word with a length
              selected and you try the guess the word for each wrong Character
              (that word does not have) will be red if Character is correct but
              not in the wright place it will be yellow and if its correct and
              in the right place it will green.
            </p>
          </div>
        </div>
        <div class="item" id="FlappyBird">
          <div class="item-desc">
            <h3><a href="/FlappyBird">Falppy Bird</a></h3>
            <p>
              a game of a bird trying to avoid hitting the Mario pipes for some
              reason 😅
            </p>
          </div>
        </div>
        <div class="item" id="Trivia">
          <div class="item-desc">
            <h3><a href="Trivia">Trivia Quiz</a></h3>
            <p>
              its a selection game where you will get a question either random
              or related to genre you selected.
            </p>
          </div>
        </div>
        <div class="item" id="RPS">
          <div class="item-desc">
            <h3><a href="/RPS">Paper scissor rock</a></h3>
            <p>
              same as the original game where you can play with friends or by
              your self
            </p>
          </div>
        </div>
        <div class="item" id="TTT">
          <div class="item-desc">
            <h3><a href="/TTT">Tic Tac Toe</a></h3>
            <p>
              same as the original game where you can play with friends or by
              your self
            </p>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
