/* https://colorhunt.co/palette/ffffecf1e4c3c6a969597e52 */
body {
  background-color: #ffffec;
  box-sizing: border-box;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 95vb;
  text-align: center;
}

.formRaber {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  background: #f1e4c3;
  border-radius: 15px;
  padding: 30px 60px;
  min-width: 200px;
  max-width: 100%;
}

.formRaber > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
}
.GameName {
  color: #597e52;
  font-size: 35px;
  font-weight: bold;
}
.Title {
  color: #c6a969;
  font-size: 25px;
  font-weight: bold;
}

select {
  display: block;
  width: 100%;
  height: 45px;
  padding: 10px 15px;
  font-size: 15px;
  line-height: 1.42857143;
  color: #597e52;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #c6a969;
  border-radius: 4px;
}

#submit {
  padding: 10px 20px;
  font-size: 15px;
  background-color: #597e52;
  border: 1px solid #ffffec;
  border-radius: 15px;
  color: #ffffec;
  cursor: pointer;
  transition-duration: 0.2s;
}

#submit:hover {
  padding: 10px 25px;
  background-color: #ffffec;
  color: #597e52;
  border-color: #c6a969;
}
#submit:active {
  background-color: #597e52;
  color: #ffffec;
  border-color: #ffffec;
}

.options {
  width: 100%;
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.option {
  display: inline-block;
  width: 40%;
  min-height: 45px;
  padding: 10px 15px;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.42857143;
  color: #597e52;
  background-color: #ffffff;
  border: 1px solid #c6a969;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.2s;
}

.option:hover {
  border-color: #597e52;
  padding: 10px 17px;
}

.correct {
  background-color: #597e52;
  color: #f1e4c3;
  transition: 0.4s;
}

.wrong {
  background-color: rgb(255, 25, 0);
  color: #f1e4c3;
  transition: 0.4s;
}

.score {
  position: absolute;
  left: 15px;
  top: 15px;
  color: #597e52;
  font-size: 25px;
  font-weight: bold;
}
