<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>SimonGame</title>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <link rel="stylesheet" href="styles\chat.css" />
    <link rel="stylesheet" href="styles\SimonGame\styles.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Press+Start+2P"
      rel="stylesheet"
    />
  </head>

  <body>
    <%- include("../Overlay/back"); -%>
    <%- include("../Overlay/chat"); -%>
    <h2 id="HighScore" level="0"></h2>
    <h1 id="level-title">Press Any button to start</h1>
    <div class="container">
      <div class="row">
        <div id="green" onclick="startGame(this)" class="btn green"></div>

        <div id="red" onclick="startGame(this)" class="btn red"></div>
      </div>

      <div class="row">
        <div id="yellow" onclick="startGame(this)" class="btn yellow"></div>
        <div id="blue" onclick="startGame(this)" class="btn blue"></div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="scripts\SimonGame\index.js"></script>
  </body>
</html>
