<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <title>Games</title>

    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <link rel="stylesheet" href="styles\chat.css" />
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css" />
    <link rel="stylesheet" href="assets/css/templatemo-cyborg-gaming.css" />
    <link rel="stylesheet" href="assets/css/owl.css" />
    <link rel="stylesheet" href="assets/css/animate.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
    />
    <!--
    
    TemplateMo 579 Cyborg Gaming
    
    https://templatemo.com/tm-579-cyborg-gaming
    
    -->
  </head>

  <body>
    <%- include("partials/header"); -%>

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-content">
            <!-- ***** games Start ***** -->
            <div class="live-stream">
              <div class="col-lg-12">
                <div class="heading-section">
                  <h4><em>All</em><u>Games</u></h4>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3 col-sm-6">
                  <div
                    class="item"
                    style="
                      padding: 30px 15px;
                      border-radius: 23px;
                      background-color: #27292a;
                    "
                  >
                    <div class="thumb">
                      <img src="assets/images/SimonGame.png" alt="" />
                      <div class="hover-effect">
                        <div class="content">
                          <div class="live">
                            <a href="#">Live</a>
                          </div>
                          <ul>
                            <li>
                              <a href="#"><i class="fa fa-medal"></i> 50</a>
                            </li>
                            <li>
                              <a href="#"><i class="fa fa-user"></i> 5</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="down-content">
                      <div class="avatar">
                        <img
                          src="assets/images/ajwad.png"
                          alt=""
                          style="
                            max-width: 46px;

                            border-radius: 50%;
                            float: left;
                          "
                        />
                      </div>
                      <span><i class="fa fa-check"></i> AjwadG</span>
                      <h4><a href="/SimonGame">Simon Game</a></h4>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                  <div
                    class="item"
                    style="
                      padding: 30px 15px;
                      border-radius: 23px;
                      background-color: #27292a;
                    "
                  >
                    <div class="thumb">
                      <img src="assets/images/Trivia.png" alt="" />
                      <div class="hover-effect">
                        <div class="content">
                          <div class="live">
                            <a href="#">Live</a>
                          </div>
                          <ul>
                            <li>
                              <a href="#"><i class="fa fa-medal"></i> 50</a>
                            </li>
                            <li>
                              <a href="#"><i class="fa fa-user"></i> 5</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="down-content">
                      <div class="avatar">
                        <img
                          src="assets/images/ajwad.png"
                          alt=""
                          style="
                            max-width: 46px;

                            border-radius: 50%;
                            float: left;
                          "
                        />
                      </div>
                      <span><i class="fa fa-check"></i> AjwadG</span>
                      <h4><a href="/Trivia">Trivia Quiz</a></h4>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                  <div
                    class="item"
                    style="
                      padding: 30px 15px;
                      border-radius: 23px;
                      background-color: #27292a;
                    "
                  >
                    <div class="thumb">
                      <img src="assets/images/Wordle.png" alt="" />
                      <div class="hover-effect">
                        <div class="content">
                          <div class="live">
                            <a href="#">Live</a>
                          </div>
                          <ul>
                            <li>
                              <a href="#"><i class="fa fa-medal"></i> 50</a>
                            </li>
                            <li>
                              <a href="#"><i class="fa fa-user"></i> 5</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="down-content">
                      <div class="avatar">
                        <img
                          src="assets/images/ajwad.png"
                          alt=""
                          style="
                            max-width: 46px;

                            border-radius: 50%;
                            float: left;
                          "
                        />
                      </div>
                      <span><i class="fa fa-check"></i> AjwadG</span>
                      <h4><a href="/Wordle">Wordle</a></h4>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                  <div
                    class="item"
                    style="
                      padding: 30px 15px;
                      border-radius: 23px;
                      background-color: #27292a;
                    "
                  >
                    <div class="thumb">
                      <img src="assets/images/FlappyBird.png" alt="" />
                      <div class="hover-effect">
                        <div class="content">
                          <div class="live">
                            <a href="#">Live</a>
                          </div>
                          <ul>
                            <li>
                              <a href="#"><i class="fa fa-medal"></i> 50</a>
                            </li>
                            <li>
                              <a href="#"><i class="fa fa-user"></i> 5</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="down-content">
                      <div class="avatar">
                        <img
                          src="assets/images/ajwad.png"
                          alt=""
                          style="
                            max-width: 46px;

                            border-radius: 50%;
                            float: left;
                          "
                        />
                      </div>
                      <span><i class="fa fa-check"></i> AjwadG</span>
                      <h4><a href="/FlappyBird">Flappy Bird</a></h4>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                  <div
                    class="item"
                    style="
                      padding: 30px 15px;
                      border-radius: 23px;
                      background-color: #27292a;
                    "
                  >
                    <div class="thumb">
                      <img src="assets/images/RPS.png" alt="" />
                      <div class="hover-effect">
                        <div class="content">
                          <div class="live">
                            <a href="#">Live</a>
                          </div>
                          <ul>
                            <li>
                              <a href="#"><i class="fa fa-medal"></i> 50</a>
                            </li>
                            <li>
                              <a href="#"><i class="fa fa-user"></i> 5</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="down-content">
                      <div class="avatar">
                        <img
                          src="assets/images/ajwad.png"
                          alt=""
                          style="
                            max-width: 46px;

                            border-radius: 50%;
                            float: left;
                          "
                        />
                      </div>
                      <span><i class="fa fa-check"></i> AjwadG</span>
                      <h4><a href="/RPS">RPS</a></h4>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                  <div
                    class="item"
                    style="
                      padding: 30px 15px;
                      border-radius: 23px;
                      background-color: #27292a;
                    "
                  >
                    <div class="thumb">
                      <img src="assets/images/TTT.webp" alt="" />
                      <div class="hover-effect">
                        <div class="content">
                          <div class="live">
                            <a href="#">Live</a>
                          </div>
                          <ul>
                            <li>
                              <a href="#"><i class="fa fa-medal"></i> 50</a>
                            </li>
                            <li>
                              <a href="#"><i class="fa fa-user"></i> 5</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="down-content">
                      <div class="avatar">
                        <img
                          src="assets/images/ajwad.png"
                          alt=""
                          style="
                            max-width: 46px;

                            border-radius: 50%;
                            float: left;
                          "
                        />
                      </div>
                      <span><i class="fa fa-check"></i> AjwadG</span>
                      <h4><a href="/TTT">TTT</a></h4>
                    </div>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="main-button">
                    <a href="streams.html">Load More Games</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- ***** games end ***** -->
          </div>
        </div>
      </div>
    </div>

    <%- include("partials/footer"); -%>
  </body>
</html>
