<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>leaderBoard</title>

    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap"
      rel="stylesheet"
    />

    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <link rel="stylesheet" href="styles\chat.css" />
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css" />
    <link rel="stylesheet" href="assets/css/templatemo-cyborg-gaming.css" />
    <link rel="stylesheet" href="assets/css/owl.css" />
    <link rel="stylesheet" href="assets/css/animate.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
    />
    <!--
    
    TemplateMo 579 Cyborg Gaming
    
    https://templatemo.com/tm-579-cyborg-gaming
    
    -->

    <link rel="stylesheet" href="styles\leaderBoard.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="scripts\LeaderBoard.js"></script>
  </head>

  <body>
    <%- include("partials/header"); -%>

    <main>
      <div id="header">
        <h1><% if (locals.hub) { %> <%= hub %>'s<% } %> LeaderBoard</h1>
        <h1 id="gameName">game</h1>
      </div>
      <div id="leaderboard">
        <div class="ribbon"></div>
        <table>
          <tr>
            <td class="number">1</td>
            <td class="name">Player</td>
            <td class="points">
              <span class="score">00</span>
              <img
                class="gold-medal"
                src="https://github.com/malunaridev/Challenges-iCodeThis/blob/master/4-leaderboard/assets/gold-medal.png?raw=true"
                alt="gold medal"
              />
            </td>
          </tr>
          <tr>
            <td class="number">2</td>
            <td class="name">Player</td>
            <td class="points">
              <span class="score">00</span>
            </td>
          </tr>
          <tr>
            <td class="number">2</td>
            <td class="name">Player</td>
            <td class="points">
              <span class="score">00</span>
            </td>
          </tr>
          <tr>
            <td class="number">3</td>
            <td class="name">Player</td>
            <td class="points">
              <span class="score">00</span>
            </td>
          </tr>
          <tr>
            <td class="number">4</td>
            <td class="name">Player</td>
            <td class="points">
              <span class="score">00</span>
            </td>
          </tr>
          <tr>
            <td class="number">5</td>
            <td class="name">Player</td>
            <td class="points">
              <span class="score">00</span>
            </td>
          </tr>
          <tr>
            <td class="number">6</td>
            <td class="name">Player</td>
            <td class="points">
              <span class="score">00</span>
            </td>
          </tr>
          <tr>
            <td class="number">7</td>
            <td class="name">Player</td>
            <td class="points">
              <span class="score">00</span>
            </td>
          </tr>
          <tr>
            <td class="number">8</td>
            <td class="name">Player</td>
            <td class="points">
              <span class="score">00</span>
            </td>
          </tr>
        </table>
        <div id="buttons">
          <button class="next">Next</button>
        </div>
      </div>
    </main>

    <%- include("partials/footer"); -%>
  </body>
</html>
