body {
  text-align: center;
  background-color: #bbc4cb;
}

#main-title,
#HighScore {
  font-family: "Press Start 2P", cursive;
  font-size: 2.5rem;
  margin: 4.5%;
  color: #001b38;
}

.game_container {
  display: block;
  max-width: 900px;
  margin: auto;
}

#SimonGame {
  background-image: url("../images/SimonGame.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#Wordle {
  background-image: url("../images/Wordle.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#Trivia {
  background-image: url("../images/Trivia.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#FlappyBird {
  background-image: url("../images/FlappyBird/2.png");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

#RPS {
  background-image: url("../images/RPS.png");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

#TTT {
  background-image: url("../images/TTT.png");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

#login {
  position: absolute;
  right: 15px;
  top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 10px;
  text-decoration: none;
}

#login > img {
  border-radius: 50%;
}

#room {
  position: absolute;
  left: 15px;
  top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 10px;
  text-decoration: none;
}

#room > img {
  border-radius: 50%;
}

.gameIcon {
  margin: 20px;
  display: inline-block;
  height: 190px;
  width: 190px;
  border: 8px solid #153254;
  background-color: #e1e8ed;
  border-radius: 20%;
}

.gameIcon:hover {
  box-shadow: 0 0 20px white;
  border: 8px solid #1c426e;
  background-color: grey;
}
