.gamepad-container {
  width: 100%;
  height: 250px;
  display: flex;
}

.fa-gamepad {
  flex-grow: 1;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms;
  animation: show 300ms ease forwards;
  transition: 300ms ease;
  box-shadow: 10px 0 5px #000000ad;
  color: #fff;
}

.fa-gamepad:first-of-type {
  background-color: blueviolet;
}

.fa-gamepad:nth-of-type(2) {
  background-color: blue;
}

.fa-gamepad:nth-of-type(3) {
  background-color: green;
}

.fa-gamepad:nth-of-type(4) {
  background-color: orange;
}

.fa-gamepad:nth-of-type(5) {
  background-color: red;
}

.counter-container {
  padding: 25px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.counter-container > h3 {
  color: black;
}

.counter {
  font-size: 25px;
}

.counter i {
  cursor: pointer;
  margin: 0 8px;
}
.number_of_players {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 8px #0000006c;
  overflow: hidden;
}
.counter-container > h3 {
  width: 50%;
}

@keyframes show {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes toHide {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}

.hide {
  overflow: hidden;
  animation: toHide 300ms ease forwards;
}

#SimonGame {
  background-image: url("../../images/SimonGame.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#Wordle {
  background-image: url("../../images/Wordle.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#Trivia {
  background-image: url("../../images/Trivia.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#FlappyBird {
  background-image: url("../../images/FlappyBird/2.png");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

#RPS {
  background-image: url("../../images/RPS.png");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

#TTT {
  background-image: url("../../images/TTT.png");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

#login {
  position: absolute;
  right: 20px;
  top: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 10px;
  text-decoration: none;
  color: #e75e8d;
}

#room {
  position: absolute;
  left: 20px;
  top: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  color: #e75e8d;
  gap: 10px;
  text-decoration: none;
}

.gameIcon {
  margin: 20px;
  display: inline-block;
  height: 190px;
  width: 190px;
  border: 8px solid #153254;
  background-color: #e1e8ed;
  border-radius: 20%;
}

.gameIcon:hover {
  box-shadow: 0 0 20px white;
  border: 8px solid #1c426e;
  background-color: grey;
}

.pink {
  color: #e75e8d;
}

.bot {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.top {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.mid {
  border-radius: 0;
}

@media (max-width: 767px) {
  h4 {
    font-size: 18px;
  }
}

@media (max-width: 530px) {
  h4 {
    font-size: 15px;
  }
}

@media (max-width: 422px) {
  h4 {
    font-size: 12px;
  }
}
