<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Simon</title>
  <link rel="stylesheet" href="styles\Wordle\home.css">
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
</head>

<body>
  <h2 id="HighScore" level="0"></h2>
  <h1 id="level-title">Welcome to Wordle <br> Please Selct word lenght</h1>
  <div class="container">
    <div class="row">

      <a href="/Wordle_5"><div id="Wordle" class="btn green">
        5
      </div></a>

      <a href="/Wordle_6"><div id="Wordle" class="btn blue">
        6
      </div></a>

      <a href="/Wordle_7"><div id="Wordle" class="btn yellow">
        7
      </div></a>

      <a href="/Wordle_8"><div id="Wordle" class="btn red">
        8
      </div></a>
      
    </div>

  </div>


</body>

</html>
