body {
  text-align: center;
  background-color: #011f3f;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 2.3rem;
  margin: 40px auto 15px;
  color: #fef2bf;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 20px;
  display: inline-block;
  height: 170px;
  width: 170px;
  border: 8px solid black;
  border-radius: 20%;
  font-size: 150px;
  font-weight: 900;
  color: white;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
  color: black;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
