<!DOCTYPE html>
<html lang="en" dir="ltr" category="<%= locals.category %>" difficulty="<%= locals.difficulty %>" type="<%= locals.type %>" token="<%= locals.token %>">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Simon</title>
  <link rel="stylesheet" href="styles\Trivia\styles.css">
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
</head>

<body>
  <div class="score">Current Streak : <span id="Streak">0</span></div>
  <div class="mainContainer">
    <div class="formRaber">
        <span class="GameName">Loading ..</span>
        <span class="Title">Select The Right answer</span>
        <div class="options">
        </div>
    </div>
  </div>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="scripts\Trivia\game.js"></script>
</body>

</html>
